node_modules/
dist/
apps/web/public/browser-debug-extension/
.env
*.local
.idea
server/target/
/.claude/
repomix-output.xml
/.codex/
output.log
server/.fuse_hidden*
*.jks
.claude
.agents
.codex
.gemini
